<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>2RRyVBKeuanOfm3h3TaZhbxEMD3QzWl75DrzWdMOrkLwjoRkJ8</string>
	<key>consumer_Key</key>
	<string>hQ7eDioShDnueq9W26kBQMl7c</string>
</dict>
</plist>
